@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display =trocar');

.botao{
    display: inline-block;
    margin-left: 30px;
    background: green;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}.botao:hover{
    background: rgb(0, 184, 0);
}

body{
    background: #ffffff;
}

.container{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: auto;
}.container img{
    float: left;
    margin: 10px 10px 10px 10px;
}

.title{
    position: sticky;
    top: 10px; 
    background: rgb(44, 190, 44);
    border-radius: 10px;
    text-align: center;
    z-index: 200;
    margin-top: 10px;
    padding: 1px 1px 1px 1px 1px;
    font-family: "Playwrite AU VIC";
}

h2{
    color: rgb(70, 70, 70);
    border-radius: 5px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    float: left;
    margin-left: 55px;

}

h4{
    font-family: "Playwrite AU VIC";
    color: rgb(33, 218, 33); 
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    color: rgb(70, 70, 70);
    font-family: "Rubik";
}

ul{
    position: sticky;
    top: 75px;
    background: black;
    padding: 20px;
    z-index: 200;
}
li{
    display: inline-block;
    font-family: "Rubik";
}
li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    background: #ccc;
    color: black;
}


li.dropdown {
    position: absolute;
    right: 100px;
    text-align: right;
}

.dropdown-content{
    margin-top: 19px;
    display: none;
    position: absolute;
    background: #444444;
    width: 150px;
}
.dropdown-content a{
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.dropdown-content a:hover{
    color:rgb(0, 0, 0)
}

.dropdown:hover .dropdown-content{
    display: block;
}


.estrela{
    width: 20px;
}.estrela:hover{
    opacity: 0.5;
}

.compra1{
    text-align: center;
    float: left;
    margin-left: 10px;
}.compra1 a{
    background: rgb(4, 189, 4);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}.compra1 a:hover{
    background: rgb(53, 235, 53);
}

.compra2{
    text-align: center;
    float: left;
    margin-left: 10px;
}.compra2 a{
    background: green;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}.compra2 a:hover{
    background: rgb(44, 182, 44);
}

.compra3{
    text-align: center;
    float: left;
    margin-left: 10px;
}.compra3 a{
    background: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}.compra3 a:hover{
    background: rgb(49, 49, 49);
}

.cabo{
    text-align: center;
    font-family: "Playwrite AU VIC";
    color: rgb(70, 70, 70);
}

.barra{
    border: 1px solid rgb(70, 70, 70);
}

.menu{
    display: flex;
    flex-wrap: wrap;
}
